/**
 * CSS for the DokuWiki SidebarNG plugin
 */

.dokuwiki div.left_sidebar {
  float: left;
  width: 27%;
  padding: 0 0.5em 0 0;
}

.dokuwiki div.right_sidebar {
  float: right;
  width: 27%;
  padding: 0 0 0 0.5em;
}

.dokuwiki .sbhead .sbtoggle {
    border: 0.4em solid white;
    float: right;
    display: block;
    margin: 0.4em 6px 0 0;
}
.dokuwiki .sbhead .sbtoggle span {
    display: none;
}
.dokuwiki .sbhead .closed,
.dokuwiki .sbhead .close {
    margin: .4em .4em 0;
    height: 0; width: 0;
    border-top: 0.4em solid #333;
}
.dokuwiki .sbhead .open {
    margin: 0 .4 0;
    height: 0; width: 0;
    border-bottom: 0.4em solid #333;
}

.dokuwiki .sbbox div.breadcrumbsng,
.dokuwiki .sbbox div.dtree,
.dokuwiki .sbbox div.breadcrumbs {
    float: left;
}

/* old toc */
.dokuwiki .sidebarng span.toc_open, 
.dokuwiki .sidebarng span.toc_close {
    margin: 0.4em 0px 0 0;
}

/* dw new toc */
#dw__toc h3.toggle {
  font-size: 1em;
  margin: 0 0 2px 0;
  padding: 3px;
  line-height: 1.5em;
  width: 100%;
}
#dw__toc h3.toggle span {
    height: 5px;
    float: right;    
    display: block;  
    text-indent: -2000px;
    border: 0.4em solid white;
    margin-right: 3px;
}                    
#dw__toc h3.open span {
    margin-top: 0.4em;
    border-top: 0.4em solid #333;
}                    
#dw__toc h3.closed span {
    margin-top: 0;   
    border-bottom: 0.4em solid #333;
}                    
#dw__toc h3.toggle strong {
    height: 1px;
}

#dw__toc h3 {
    text-align: left;
    font-weight: bold;
    padding: 3px;
    margin: 0 0 2px 0;
    font-size: 1em;
    background-color: __background__;
}
.dokuwiki .sidebarng span.toc_open {
    border-color: #333 __background__ __background__ __background__;
}
.dokuwiki .sidebarng span.toc_close {
    border-color: __background__ __background__ #333 __background__;
}

.dokuwiki .sidebarng #dw__toc div {
    float: left;
    width: 100%;
}
.dokuwiki .sidebarng #dw__toc {
    float: left;
    clear: both;
    width: 100%;
}


.dokuwiki .sidebarng {
    background-color: transparent;
    margin: 2.1em 0 0 2em;
}
.dokuwiki .sidebarng ul {
    list-style-type: none;
    list-style-image: none;

    float:left;
    display: block;
    line-height: 1em;
    margin-left: 0;
    width: 100%;
}

.dokuwiki .sidebarng h3.toggle,
.dokuwiki .sidebarng ul.toc,
.dokuwiki .sidebarng div.toc,
.dokuwiki .sbbox,
.dokuwiki .sbhead {
    text-align: left;
    float: left;
    clear: both;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 2px 0;
}
.dokuwiki .sidebarng h3.toggle,
.dokuwiki .sbhead {
    font-weight: bold;
}
.dokuwiki .sidebarng h3.toggle,
.dokuwiki #dw__toc div,
.dokuwiki .sbbox,
.dokuwiki .sbhead {
    background-color: __background__;
    opacity:0.8;filter:Alpha(Opacity=0.8);
    padding: 3px;
    margin: 0 0 2px 0;
}
