/**
 * CSS for the DokuWiki SidebarNG plugin
 */

div.dokuwiki div.left_sidebar {
  float: left;
  width: 30%;
  padding: 0.2em 0.5em 0 0;
}

div.dokuwiki div.right_sidebar {
  float: right;
  width: 27%;
  padding: 0.2em 0em 0 0.5em;
}
.dokuwiki div.breadcrumbs {
    font-size: 100%;
}
.dokuwiki .sbhead {
    width: 100%;
}
body div.dokuwiki span.toc_open, 
body div.dokuwiki span.toc_close {
    margin: 0.4em -2px 0 0;
}
.dokuwiki .sbhead .sbtoggle {
    border: 0.4em solid white;
    float: right;
    display: block;
    margin: 0.4em 3px 0 0;
}
.dokuwiki .sbhead .closed,
.dokuwiki .sbhead .close {
    margin-top: 0;
    border-bottom: 0.4em solid #333;
}
.dokuwiki .sbhead .open {
    margin-top: 0.4em;
    border-top: 0.4em solid #333;
}
.dokuwiki .sbhead .sbtoggle span {
    display: none;
}

#dw__toc h3.toggle {
  padding: 3px;
  width: 100%;
  margin-bottom: 2px;
}

#dw__toc h3.toggle span {
    border: 0.4em solid white;
    height: 5px;
    float: right;    
    display: block;  
    margin: 0.4em 3px 0 0;
    text-indent: -2000px;
}                    
#dw__toc h3.open span {
    margin-top: 0;   
    border-bottom: 0.4em solid #333;
}                    
#dw__toc h3.closed span {
    margin-top: 0.4em;
    border-top: 0.4em solid #333;
}                    
#dw__toc h3.toggle span span {
    display: none;
}

#dw__toc h3 {
    background-color: transparent;
    text-align: left;
    font-weight: bold;
    padding: 3px;
    margin: 0 0 2px 0;
    font-size: 1em;

  background-color: __background__;
  opacity:0.8;filter:Alpha(Opacity=0.8);
}

div.dokuwiki div.sidebarng {
    background-color: transparent;
    text-align: left;

  margin: 1.2em 0 0 2em;
  float: right;
  background-color: __background__;
  opacity:0.8;filter:Alpha(Opacity=0.8);
}
div.dokuwiki div.sidebarng ul {
    line-height: 1em;
    list-style-type: none;
    list-style-image: none;

    float:left;
    display: block;
    line-height: 1em;
    margin-left: 0em;
    width: 100%;
}
div.dokuwiki div.sidebarng ul {
    margin-left: 0;
}
.dokuwiki .sidebarng #dw__toc,
.dokuwiki .sidebarng div.toc {
    width: 100%;
}
.dokuwiki .sidebarng div.toc ul {
    line-height: 1.5em;
}


